header  {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.articles-container {
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articles-main {
    margin-right: 3rem;
}

