<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="menu-bar-container">
    <ul>
        <li><a [routerLink]="['']"><span class="material-symbols-outlined">
            arrow_back
            </span>
        </a></li>
        <li><a href="https://www.linkedin.com/in/gustavokehr/" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/GustavoKehr" target="_blank">GitHub</a></li>
        <li><a href="mailto:guckehr008@gmail.com" target="_blank">E-Mail</a></li>
        
    </ul>
</div>
